<!DOCTYPE html>
<!-- @@author WangJieee -->
<html>
<head>
    <link rel="stylesheet" href="CrayonTheme.css">
</head>

<body class="background">
    <div class="container">
        <h1 class="header" align="center" >Welcome to AB&B!</h1>
        <p class="text"  align="center">Your No.1 personal contacts manager</p>
    </div>

    <div class="container" align="center">
        <p class="text">
            <img src="../images/gps.png" alt="gps" style="float:left;width:20px;height:20px;">
            All you need is to type simple commands
        </p>
        <p class="text">
            <img src="../images/gps.png" alt="gps" style="float:left;width:20px;height:20px;">
            In-built Google Map to view your contact's address
        </p>
        <p class="text">
            <img src="../images/gps.png" alt="gps" style="float:left;width:20px;height:20px;">
            New user? Type [help] to open help window
        </p>
    </div>

</body>
</html>
